@model Escolar32.Models.Aluno

<div class="row">

    <p>Usuário:<strong> @Model.NomeUsuario</strong>| Data do Cadastro: <strong>@Model.DataCadastro </strong></p>

    <h3><strong>CONTRATO</strong></h3> 
    @if ( @Model.QtdeParcelas > 0)
    {        
        <a type="button" class="btn btn-success"
          asp-area="Admin" asp-controller="AdminContratoReport" asp-action="ContratoPDF" asp-route-id="@Model?.AlunoId">
           Baixar Contrato
        </a>
    }
    else
    {
        <strong class="text-danger">Em breve seu contrato estará disponível para downoad</strong>
    }
    <hr />
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RespFinan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RespFinan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profissao)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.FirmaRec)
            @Html.DisplayFor(model => model.FirmaRec)
        </dt>
        <dd class="col-sm-10">
            <strong>@Html.DisplayNameFor(model => model.Cartorio)</strong>
            @Html.DisplayFor(model => model.Cartorio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InicioPgto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InicioPgto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FimPgto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FimPgto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorParcela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorParcela)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QtdeParcelas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QtdeParcelas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalContrato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
    </dl>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Home">Voltar</a>
    </div>

</div>










