@model IEnumerable<Escolar32.Models.Escola>

<div class="container">

<div class="row">
    <h1>Lista de Escolas</h1>

        <p>
            <a class="fa-solid fa-file-circle-plus green-icon" asp-action="Create"></a>
        </p>
        <table class="col-md-12">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EscolaNome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EscolaNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                            <a class="fa-regular fa-pen-to-square" asp-action="Edit" asp-route-id="@item.EscolaId"></a> |
                            <a class="fa-solid fa-trash-can red-icon"asp-action="Delete" asp-route-id="@item.EscolaId"></a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
