@model Escolar32.Models.Aluno

<div class="row">

    <p>Usuário:<strong> @Model.NomeUsuario</strong>| Data do Cadastro: <strong>@Model.DataCadastro </strong></p>
    
    <h3><strong>P A G A M E N T O S</strong></h3>
    <hr />
    <div class="row">
        <div class="col-md-12">
            
            <div class="row">

                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Jan)
                        </dt>
                        <dd>
                            @if (Model.Jan)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Fev)
                        </dt>
                        <dd>
                            @if (Model.Fev)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Mar)
                        </dt>
                        <dd>
                            @if (Model.Mar)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Abr)
                        </dt>
                        <dd>
                            @if (Model.Abr)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Mai)
                        </dt>
                        <dd>
                            @if (Model.Mai)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Jun)
                        </dt>
                        <dd>
                            @if (Model.Jun)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Jul)
                        </dt>
                        <dd>
                            @if (Model.Jul)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ago)
                        </dt>
                        <dd>
                            @if (Model.Ago)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Set)
                        </dt>
                        <dd>
                            @if (Model.Set)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Out)
                        </dt>
                        <dd>
                            @if (Model.Out)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nov)
                        </dt>
                        <dd>
                            @if (Model.Nov)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Dez)
                        </dt>
                        <dd>
                            @if (Model.Dez)
                            {
                                <span class="indicador green-icon">&#10003;</span>
                            }
                            else
                            {
                                <span class="indicador red-icon">&#10007;</span>
                            }
                        </dd>
                    </dl>
                </div>
                    
            </div>
        </div>
    </div>
    
</div>










