@model Escolar32.Models.Aluno

<div class="row">

    <p>Usuário:<strong> @Model.NomeUsuario</strong>| Data do Cadastro: <strong>@Model.DataCadastro </strong></p>
    
    <h3><strong>P A G A M E N T O S</strong></h3>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @* <div>
                <img src="~/Imagens/em_construcao1.jpg" class="img-fluid">
            </div> *@
            <div class="row">

                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Jan)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Jan)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Fev)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Fev)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Mar)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Mar)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Abr)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Abr)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Mai)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Mai)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Jun)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Jun)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Jul)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Jul)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ago)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ago)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Set)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Set)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Out)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Out)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nov)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nov)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <dl>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Dez)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Dez)
                        </dd>
                    </dl>
                </div>
                    
            </div>
        </div>
    </div>
    
</div>










